.todoForm{
   width: 500px; 
}

#submitTodo{
    font-size: 1.5rem;
}

li{
    list-style: none;
}

label{
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
}

.checkBox{
    transform: scale(2);
}

.list-container{

}